<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="gol">
<h1><u>Inicia Sesion</u></h1>
<form action='@Url.Action("VerificarUsuario")'>
<div class="Login">
    <div class="form-floating mb-3">
        <input id="nombre" name="nombre" type="text" class="form-control" id="floatingInput" placeholder="Username" required>
    </div>
    <div class="form-floating">
        <input id="contra" name="contra" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" required>
    </div>  
</div>
<button type="submit" class="btn btn-success">Ingresar</button>
</form>
<div class="Botones">
    <a href='@Url.Action("Registro")' type="button" class="btn btn-primary btn-lg">¿Eres Nuevo? Registrate</a>
    <a href='@Url.Action("Olvide")' type="button" class="btn btn-secondary btn-lg">Olvide mi contraseña</a>
    @if(ViewBag.msj != null){
        <div class="God">
            <p>@ViewBag.msj</p>
        </div>
    }
    @if(ViewBag.Error != null){
        <div class="Error">
            <p>@ViewBag.Error</p>
        </div>
   
    }
</div>
</body>
</html>